.preview {
    background-color: #fff;
    height: 80vh;
    margin: 4vh;
    margin-top: 1vh;
    width: 50vw;

    border-radius: 6px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.preview__heading {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #203b46;
    margin: 0;
    padding: 10px;
}

.preview__content {
    padding: 5px 10px;
    text-align: left;
    overflow-y: auto;
}

@media (max-width: 560px) {
    .preview {
        width: 90%;
        height: 40vh;
    }
}