.App {
    background-color: #13242a;
    color: #fff;
    height: 100vh;
}

.App__heading {
    text-align: center;
}

.App__layout {
    display: flex;
}

@media (max-width: 560px) {
    .App__layout {
        display: block;
    }

    .App__heading {
        font-size: 25px;
    }
}